.logingscreen {
	margin: auto;
	color: #CA7DF9;
	width: fit-content;
	margin-top: 50vh;
	transform: translateY(-50%);
	border: solid 2px #CA7DF9;
	border-radius: 30px;
	padding: 40px 20px;
}

.loginDuo {
	margin-bottom: 15px;
}

.hasloDuo {
	margin-bottom: 15px;
}

.loginlabel {
	width: 60px;
	display: inline-block;
}

.submitbutton {
	margin: auto;
	display: block;
	border: solid 2px #CA7DF9;
	border-radius: 25px;
	height: 35px;
	width: 100px;
	background-color: #2B303A;
	color: #CA7DF9;
	transition-duration: 0.35s;
	margin-top: 30px;
}

.submitbutton:hover {
	cursor: pointer;
	color: #5DA271;
	border-color: #5DA271;
}

.inputbar {
	background-color: #2B303A;
	border: solid 2px #CA7DF9;
	height: 20px;
	width: 200px;
	border-radius: 10px;
	color: #FEFEFF;
}

.inputbar:hover,
.inputbar:focus-visible {
	outline: none;
	border: solid 2px #CA7DF9;
}

.loginnapis {
	width: 100%;
	text-align: center;
	margin-top: 0px;
	margin-bottom: 40px;
}