<!doctype html>

<html>
  <head>
    <title>FoxChat</title>
		<link rel="stylesheet" href="{{ url_for('static', filename='css/global.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='assets/logo.png') }}">
  </head>
  <body>
    <header>
      <nav>
        <h1 class = "foxchatnapis">FoxChat - Strona Główna</h1>

        <div class = "rejestracja">
          <a href = "register">Zarejestruj się</a>
        </div>

        <div class = "logowanie">
          <a href = "login" class = "logingLink">Zaloguj się</a>
        </div>
      </nav>
    </header>

    <main>
      
    </main>

    <footer>
      
    </footer>
  </body>
</html>