<!doctype html>

<html>
  <head>
    <title>FoxChat</title>
		<link rel="stylesheet" href="{{ url_for('static/css', filename='global.css') }}">
    <link rel="stylesheet" href="{{ url_for('static/css', filename='index.css') }}">
    <link rel="icon" type="image/x-icon" href="assets/logo.png">
  </head>
  <body>
    <header>
      <nav>
        <h1 class = "foxchatnapis">FoxChat - Strona Główna</h1>

        <div class = "rejestracja">
          <a href = "rejestracja.html">Zarejestruj się</a>
        </div>

        <div class = "logowanie">
          <a href = "loging.html" class = "logingLink">Zaloguj się</a>
        </div>
      </nav>
    </header>

    <main>
      
    </main>

    <footer>
      
    </footer>
  </body>
</html>