<!doctype html>

<html lang = "pl">
  <head>
    <title>User</title>
		<link rel = "stylesheet" href = "{{ url_for('static', filename='css/global.css') }}">
    <link rel = "stylesheet" href = "{{ url_for('static', filename='css/user_main.css') }}">
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='assets/logo.png') }}">
		<script src = "{{ url_for('static', filename='js/username.js') }}"></script>
		
  </head>
  <body>
    <aside class = "leftpanel">
      <div class = "info">
				<div class = "info_inside">
        	<img src = "{{ url_for('static', filename='assets/logo.png') }}"/>
        	<button class = "logoutbutton">Wyloguj</button>
				</div>
				<span class = "username" id = "username"></span>
      </div>

      <div>
        
      </div>
    </aside>
    <main>
      
    </main>

    <footer>
      
    </footer>
		<script>
			hello()
		</script>
  </body>
</html>